body {
    text-align: left;
    font-family: 'Cascadia Code', 'arial';
    color: #9bc4e260;
    background-color: #081620;
    font-size: medium;
}

.nav1 {
    left: 0px;
    margin-left: -25pt;
    top: 0px;
    
    border-style:solid;
    border-color: #9bc4e260;
    border-width: 0pt;
    border-right-width: 1px;

    height: 100%;
    font-size:large;
    color:#9bc4e260;

    width: 5%;
    position: fixed;
}

.nav2 {
    left: 5%;
    margin-left: -40pt;
    top: 0px;
    font-size: medium;
    
    border-style:solid;
    border-color: #9bc4e260;
    border-width: 0pt;
    border-right-width: 1px;
    
    height: 100%;
    color:#9bc4e260;
    
    width: 14%;
    position: fixed;
}

ul {
    height: 100%;
    list-style-type:none; 
}

.nav1 ul li {  
    height: 10%;
    border-style:solid;
    left: 0pt;
    display: block;
    border-color: transparent;
    border-width: 0pt;
    border-left-width: 1pt;

    display: block;
    filter:grayscale(100%);
}

.nav1 ul li:hover {  
    height: 10%;
    border-style:solid;
    left: 0pt;
    
    border-color: #9bc4e260;
    border-width: 0pt;
    border-left-width: 1pt;

    display: block;
    filter:grayscale(100%);
}

.nav2 ul li {  
    display: block;
    filter:grayscale(100%);
}

.selected {  
    display:block;
    background-color: #9bc4e260;
}

ul li:hover{
    color: #9bc4e2;
}

/*
@keyframes display {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
    }
}

.content li::marker {
    color: rgb(192, 148, 35);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(33, 34, 43);
}

::-webkit-scrollbar-thumb {
    background: rgb(63, 63, 63);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(70, 70, 70);
}

::-webkit-scrollbar-track:hover{
    background: rgb(40, 40, 43);
}
*/